RewriteEngine on
Rewriterule ^noticias/categoria/(.+) post-by-area.php?id=$1
Rewriterule ^novedades/(.+) novelty.php?id=$1
Rewriterule ^inicio index.php
Rewriterule ^acerca-sgtel acerca-sgtel.php
Rewriterule ^areas-negocio/infraestructura infraestructura.php
Rewriterule ^areas-negocio/soluciones-moviles soluciones-moviles.php
Rewriterule ^areas-negocio/consultoria-emprendimiento consultoria-emprendimiento.php
Rewriterule ^contactenos contactenos.php
RewriteCond %{REQUEST-FILENAME} !-f
ErrorDocument 404 /web/404.php 
<FilesMatch "\.(ico|pdf|flv|jpg|jpeg|png|gif|js|css|swf|ttf)$">
Header set Cache-Control "max-age=2592000, public"
</FilesMatch>