RewriteEngine on
Rewriterule ^articulo/(.+) articulo.php?id=$1
Rewriterule ^inicio resources/view/index.php
Rewriterule ^post resources/view/post.php
Rewriterule ^comentarios resources/view/comentarios.php
Rewriterule ^usuarios resources/view/usuarios.php
Rewriterule ^analytics resources/view/analytics.php
RewriteCond %{REQUEST_FILENAME} !-f
ErrorDocument 404 404.html