<!DOCTYPE html>
<head>
  <script type="text/javascript" src="public/bower_components/tinymce-dist/tinymce.js"></script>
  <script type="text/javascript" src="public/bower_components/angular/angular.js"></script>
  <script type="text/javascript" src="public/bower_components/angular-ui-tinymce/src/tinymce.js"></script>
  <script type="text/javascript">
  	var myAppModule = angular.module('myApp', ['ui.tinymce']);

myAppModule.controller('TinyMceController', function($scope) {
  $scope.tinymceModel = 'Initial content';

  $scope.getContent = function() {
    console.log('Editor content:', $scope.tinymceModel);
  };

  $scope.setContent = function() {
    $scope.tinymceModel = 'Time: ' + (new Date());
  };

  $scope.tinymceOptions = {
  	automatic_uploads: true,
  	file_browser_callback: function(field_name, url, type, win) {
    win.document.getElementById(field_name).value = 'my browser value';
  	},
  	file_browser_callback_types: 'file image media',
  	images_upload_credentials: true,
  // 	file_picker_callback: function(callback, value, meta) {
	 //    // Provide file and text for the link dialog
	 //    if (meta.filetype == 'file') {
	 //      callback('mypage.html', {text: 'My text'});
	 //    }

	 //    // Provide image and alt text for the image dialog
	 //    if (meta.filetype == 'image') {
	 //      callback('public/dist/img/posts/pt0001.jpg', {alt: 'My alt text'});
	 //    }

	 //    // Provide alternative source and posted for the media dialog
	 //    if (meta.filetype == 'media') {
	 //      callback('movie.mp4', {source2: 'alt.ogg', poster: 'image.jpg'});
	 //    }
	 // },
	 file_picker_types: 'file image media',
  	images_upload_base_path: 'public/dist/img/posts/',
  	images_upload_credentials: true,
    plugins: [
    'visualblocks fullscreen charmap code advlist autolink lists link image charmap print preview hr anchor pagebreak',
    'searchreplace wordcount visualblocks visualchars code fullscreen',
    'insertdatetime media nonbreaking save table contextmenu directionality',
    'emoticons template paste textcolor colorpicker textpattern imagetools'
  ],
  toolbar1: 'visualblocks | fullscreen | charmap | code | insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
  toolbar2: 'print preview media | forecolor backcolor emoticons',
  image_advtab: true,
    toolbar: 'undo redo | bold italic | alignleft aligncenter alignright | code'
  };
});
  </script>
</head>
<body ng-app="myApp">
  <form method="post" ng-controller="TinyMceController">
    <textarea ui-tinymce="tinymceOptions" ng-model="tinymceModel"></textarea>
    <button ng-click="getContent()">Get content</button>
    <button ng-click="setContent()">Set content</button>
  </form>
</body>